.palm-header
  +vertical-margin(3)
  margin-left: 10px
  margin-right: 10px
  display: flex
  align-items: center

.palm-header__left,
.palm-header__right
  flex: 1

.palm-header__left
  +font-size(alpha)
  font-weight: bold
  text-transform: uppercase

.palm-header__right
  text-align: right

  i
    font-size: 40px
    line-height: 30px
