.palm-header
  +vertical-margin(3)
  margin-left: 10px
  margin-right: 10px
  display: flex
  align-items: center

.palm-header__left

.palm-header__left
  font-weight: bold
  text-transform: lowercase
  +font-size(alpha)
  line-height: 40px
  +heading-font-family
  color: $light-body-color
  display: block
  flex: 1
  text-decoration: none
  color: white
  text-shadow: 0 1px 2px rgba(black, 0.3)
  letter-spacing: 0.05em

  span
    color: $base-body-color
    text-shadow: none

.palm-header__right
  text-align: right
  width: 80px

  i
    font-size: 40px
    line-height: 40px
