.palm-header
  +vertical-margin(3)
  margin-left: 10px
  margin-right: 10px
  display: flex
  align-items: center

.palm-header__left

.palm-header__left
  font-weight: bold
  text-transform: lowercase
  +font-size(alpha)
  line-height: 40px
  +heading-font-family
  color: $light-body-color
  display: block
  flex: 1
  text-decoration: none

  img
    max-width: 200px

.palm-header__right
  text-align: right
  width: 80px

  i
    font-size: 40px
    line-height: 40px
